extensions:
    dravencms.seo: Dravencms\Seo\DI\SeoExtension


services:
    routeFactory.Seo: Dravencms\Seo\RouteFactory
    route:
        setup:
            - addRouteFactory(@routeFactory.Seo)

    seo.adminRobotsPresenter: Dravencms\AdminModule\SeoModule\RobotsPresenter
    seo.adminTrackingPresenter: Dravencms\AdminModule\SeoModule\TrackingPresenter
    seo.adminTrackingServicePresenter: Dravencms\AdminModule\SeoModule\TrackingServicePresenter
    seo.frontRobotsPresenter: Dravencms\FrontModule\SeoModule\RobotsPresenter
    seo.frontSitemapPresenter: Dravencms\FrontModule\SeoModule\SitemapPresenter

nettrine.orm:
    managers:
        default:
            mapping:
                DravencmsSeo:
                    type: attributes
                    directories:
                        - %appDir%/../vendor/dravencms/seo/src/Dravencms/Model/Seo
                    namespace: Dravencms\Model\Seo
