{block #content}
    <div class="page-header"><h1>{_$h1}</h1></div>
    <p n:isAllowed="seo, robotsEdit">
        <a n:href="Robots:edit" class="btn btn-primary"><i class="fa fa-plus"></i> {_"New robots directive"}</a>
    </p>
    {control gridRobots}
{/block}
