{contentType text/plain; charset=utf-8}
Sitemap: {link //Sitemap:default}
{foreach $groups as $userAgent => $directives}
User-Agent: {$userAgent}
{foreach $directives as $directive}
{$directive['action']}: {$directive['path']}
{/foreach}
{/foreach}
