{contentType text/plain; charset=utf-8}
User-Agent: *
sitemap: {link //Sitemap:default}
Allow: /
Disallow: /admin
{foreach $disabled as $d}
    Disallow: {link $d->getPresenter().':'.$d->getAction()}
{/foreach}
{foreach $robots as $robot}
    {$robot->getAction()}: {$robot->getPath()}
{/foreach}
