{block #content}
    <div class="page-header"><h1>{_$h1}</h1></div>
    <p>
        <a n:href="Tracking:edit" class="btn btn-primary"><i class="fa fa-plus"></i> {_"New tracking code"}</a>
    </p>
    {control trackingGrid}
{/block}
